{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dome Timesheet</title>
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <link rel="shortcut icon" href="{% static 'Fav.svg' %}" type="image/x-icon">

</head>
<body>  
    <div class="primeiraDiv">
        <h1 class="primeiroTitulo">Página em Desenvolvimento!</h1>
    </div>
    <div class="segundaDiv">
        <h2>Vini, Vitor</h2>
        <img class="imagem" src="https://c5gwmsmjx1.execute-api.us-east-1.amazonaws.com/prod/dados_processo_seletivo/logo_empresa/130450/MicrosoftTeams-image__20_.png_name_20230630-31580-jbxo6y.png" alt="">
    </div>
</body>
</html>